body {
  font-family: 'Montserrat:300', sans-serif;
  font-weight: lighter;
  background-image: url("images/aerial.jpg");
}

.avatar {
  width: 100px;
  border-radius: 30%
}

.box {
  background: white;                          /* White background */
  padding: 20px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px auto;
  width: 80%;
}

h1, h3{
  font-weight: normal;
}

.box script {
  text-align: left;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin:20px 0;
}

.list-inline li{
  display: inline;
  margin: 0 10px;
  font-size: 20px;
}

.button {
  color: red
  padding: 10px 20px;
}


